body {
    margin: 0px auto; 
    font-family: 'Montserrat', sans-serif;

    
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

/* Container */

.container {
    max-width: 1440px;
    background-color: #0E0E0E;
    margin: 0 auto;
}

/* Header */

.header {
    position: absolute;

    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;

    margin: 0 100px;
}

.h__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 25px;
}

/* nav */

.h__nav {
    font-size: 14px;
    text-decoration: none;
}

.nav__link {
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    color: #282626;

    text-decoration: none;

    margin: 0px 20px;
}

.nav__link:hover {

    color: white;
    transition: color .2s linear;
}

/* lang */

.h__lang {
    font-size: 14px;
    text-decoration: none;
}


.lang__link{
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    color: #282626;

    text-decoration: none;
    text-transform: uppercase;
}

.lang__link:hover {

    color: white;
    transition: color .2s linear;

}



/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

  
    left: 0px;
    top: 0px;

    background: url(../img/unsplash_rPkC3viHxug.png) 
    center no-repeat;
    background-size: cover;
}

.intro__info {
    display: flex;

    margin: 50px 100px;

}

.intro__title {

    font-size: 200px;
    line-height: 200px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.8);

    
    padding-top: 230px;
    text-align: center;
    

    text-transform: lowercase;
}

.info__item {

    max-width: 110px;
    max-height: 114px;
    margin-top: 50px;

}

.item__text {
    color: rgba(255, 255, 255, 0.6);
}

/* Media */

.media__link {
    position: absolute;
   
    bottom: 30px;
    right: 100px;

}

.media__item {
    margin: 0 15px;
}

/* About */

.about__inner {
    position: relative;
}
.about__background {
    position: absolute;
    content: '';
    width: 625px;
    height: 1850px;
    z-index: -1
;

    background:#2A3138;

}

/* Cards */

.tours__title {
 
    color: rgba(255, 255, 255, 0.8);

    padding: 84px 100px;

    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
}   

.tours__card {

    display: flex;
    /* justify-content: center; */
    align-items: auto;

    margin: 0 100px;
}


.card__one {
    margin-right: 30px;
}

.image__ {

    width: 100%;
    height: auto;
}

/*
.card__title {
    position: absolute;

    width: 100%;
    height: 186px;

    background: rgba(89, 89, 89, 0.1);
    backdrop-filter: blur(10px);

} */

.card__img3 {
    padding-top: 20px;
}

 /* Info */


.info__title {
    color: rgba(255, 255, 255, 0.8);

    padding: 84px 100px;
    padding-bottom: 0px;

    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
}

.info__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 100px;
}

.inner__text {

    width: 395px;
    height: auto;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;

    margin-right: 45px;

}

.inner__img {
    width: 100%;
    height: auto;

    z-index: -1;
}

/* Slider */


.info__slider {
    
    display: flex;
    position: relative;

    top: -50px;
    margin: 0 100px;

}

.slider__img {

    max-width: 190px;
    max-height: 210px;

    margin-right: 17px;
    border-radius: 10px;

}

.slider__icon {

    width: 740px;
    height: 1px;

    margin-top: 100px;
    margin-bottom: 150px;

    background: linear-gradient(270deg, #435FBE 24.91%, #FFFFFF 35%);

}

/* Places */



.places__title {
 
    color: #2A3138;

    margin: 0 100px;

    padding: 45px 0;

    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
}   

.places__nav {
    display: flex;
    justify-content: space-between;

    margin: 0 100px;
}

.places__nav :hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.pnav__link {

    font-weight: 400;
    line-height: 18px;

    color: #282626;

    text-decoration: none;
}

.places__img {

    border-radius: 10px;

    margin: 0 100px;
    margin-top: 45px;

}

.pimage {

    width: 520px;
    height: 675px;

}

/* Places Slider */

.places__slider {
    display: flex;
    align-items: center;

}

.card__slider {
    display: flex;
    justify-content: flex-start;
}


.places__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 410px;
    height: 357px;

    padding: 25px;

    margin-left: -200px;

    background: linear-gradient(180deg, rgba(23, 33, 66, 0.88) 41.06%, rgba(67, 95, 190, 0.76) 100%);
    border-radius: 10px;
}

.h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
}

.h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.link__next { 
    text-decoration: none;
    color: #FFFFFF;
}

.link__next:hover {
    width: 100%;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-line: solid;
    
}

.slider__icon2 {

    width: 1290px;
    height: 1px;
    
    margin: 75px 200px;
    background: linear-gradient(270deg, #BFBFBF 25%, #435FBE 75%);

}

/* Questions */

.questions{
    background: url(../img/quest/unsplash_Ta0A1miYZKc.png) 
    center no-repeat;
    background-size: cover;

    width: 100%;
    height: 100vh;

}

.quest__title {
 
    color: white;

    margin: 0 100px;

    padding: 80px 0;

    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
}   

.quest__box {
    width: 60%;   
}

.box__inner {
    display: flex;

    margin: 0 100px;
    vertical-align: center;
}

.box__item {
    display: flex;
    justify-content: space-between;

    font-size: 18px;
    line-height: 23px;

    padding: 16px 20px;

    background: rgba(187, 187, 187, 0.3);
    border-radius: 10px;

    margin-top: 10px;
}

.button__box {
    width: 30%;
    text-align: center;
    margin: auto;
}
.h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
}
.h4 {
    padding: 15px 0;

    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
} 

.btn__inner {
    display: inline-block;
    padding: 15px 20px;

    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    border: #435FBE solid 6px;
    border-radius: 10px;

    max-width: 300px;
    max-height: 70px;
}

.btn__link {
    text-decoration: none;
    color: white;
}


.btn__link :hover {
    background-color: #435FBE;
    transition: .2s linear background-color;
}

/* Form */

.form__inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin: 84px auto;
}


.form__title {
    color: #2A3138;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;

}
.form__subtitle {
    color: #2A3138;
}

.input-box_area {
    display: flex;
}



/* Элементы левой колонки: адрес, телефон, email */
  
  /* Контейнер для input'ов формы */
  .input-box {
    height: 50px; /* по сути задаем высоту input'а */
    width: 100%; /* ширина на всю ширину правой колонки (с учетом padding) */
   
    margin-bottom: 20px; /* отступаем снизу 20px */

    border: 1px solid #435FBE;
    border-radius: 10px;
  }
  
  /* Стили для input и textarea (поле сообщение) */
  .input-box input,
  .input-box textarea {
    height: 100%; /* растягиваем на всю высоту контейнера 50px */
    width: 100%; /* растягиваем на всю ширину */

    border: none; /* убираем внешние края */

    border-radius: 5px; /* скругляем края */
    background: #f0f1f8; /* задаем цвет фона */
    padding: 0 20px; /* отступ справа и слева 20px */
  }
  
  /* Отдельно стилизуем поле сообщение */
  .input-box textarea {
    resize: none; /* чтобы нельзя было менять высоту */
    padding: 20px;

  }
  
  /* Стили для контейнера кнопки */
  .button-box {
    display: inline-block; /* делаем блочно-строчный элемент */
  }
  
  /* Стили для самой кнопки */
  .button-box input[type="button"] {
    color: #fff;

    font-weight: 500;
    font-size: 22px;
    line-height: 28px;

    width: 440px;
    height: 70px;

    border-radius: 10px;
    padding: 10px 20px;
    background: #435FBE;
    border-radius: 10px;

    transition: 0.2s; /* чтобы плавно менялся цвет при наведении (:hover) */
  }
  
  /* Меняем цвет фона при наведении на кнопку */
  .button-box input[type="button"]:hover {
    background: #2A3138;
  }

  /* Futter */

.futter {
    background-color:#172142;
}

.futter__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 100px;

    padding: 50px 0;
}

.fut__leftside {

}

.left__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.left__subitem {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;

    color: #5b6167;

}

.email {
    margin: 15px 0;
}

.fut__middle {
    font-size: 16px;
    line-height: 20px;
}

.middle__nav {
    margin: 11px 0;
}

.fut__rightside {
    font-size: 16px;
    line-height: 20px;
}

.right__address {
    margin: 11px 0;
    font-weight: 300;
}

.right__address__license {

font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #5b6167;
}



