@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700;800&display=swap');

html {
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

/* Переменные */
:root {
    --main-text: #48555B;
    --main-click: #00A4E5;
    --sec-click: #00668e;
    --dif-color: #ffff;
  }

h1, h2, h3, h4, h5, h6,p {
    margin: 0px;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}

/* Screensaver */

.screensaver{
    max-width: 1440px;
    background-image: url(../source/bgscreen.png);
    background-repeat: no-repeat;
    background-position: center;

    height: 100%;

    margin: 0 auto;
}

.screensaver__logo {
    display: flex;
    padding: 40px 0 309px;
}
.logo__item {
    display: block;
    width: 101.62px;
    height: 23px;
    margin: 0 auto;
}

.screensaver__title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 5.7px;

    text-align: center;
    color: var(--dif-color);
    text-transform: uppercase;

    margin-bottom: 1px;
}
.screensaver__text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--dif-color);

    margin: 0 auto 223px;

}
.screensaver__link {
    text-decoration: none;
    text-transform: uppercase;

}
.screensaver__link-text {
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 3.7px;
    color: var(--dif-color);
    padding-bottom: 72px;
}


/* Header */

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 25px 0;
}

.navbar {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar__item{
    padding-right: 27px;
}

.navbar__item:last-child{
    padding-right: 0;
}

.navbar__item:hover {
    transform: scale(1.1);
}

.navbar__item-link {
    color: var(--main-text);

    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.7px;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar__item-link:hover {
    color: var(--main-click);

}

/* Our story */

/* repeating elements */
h1 {  
    color: var(--main-text);
    text-transform: uppercase;

    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 2.306px;
}

.stroke {
    width: 50px;
    height: 2px;
    background-color: var(--main-click);
   
}

.story h1{
    text-align: center;
    padding-top: 52px;
    letter-spacing: 2.306px;
}
.story .stroke{
    margin: 0 auto;
    margin-bottom: 70px;
}

.story__inner {
    display: flex;

}

.story__left {
    margin-right: 77px;
}

.story__title {
    color: var(--main-text);
    font-size: 20px;
    font-weight: 700;
    
    max-width: 400px;
    height: 81px;

    margin-bottom: 40px;
}

.story__title span {
    color: var(--main-click);

}
.story__text {
    color: var(--main-text);
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;

    max-width: 400px;
    height: 115px;

    /* padding-top: 30px; */
}

.story__right{
    display: flex;
    align-items: flex-end;
}

.story__item{
    font-size: 24px;
    text-transform: uppercase;
    color: var(--dif-color);
    font-weight: 800;

    width: 140px;
    height: 224px;

    padding: 15px;
    margin-right: 20px;
}

.story__item:nth-child(1){
    background-image: url(../source/weplan.png);
}

.story__item:nth-child(2){
    background-image: url(../source/wemanage.png);
}

.story__item:nth-child(3){
    background-image: url(../source/webuild.png);
    margin-right: 0;
}

/* Our Capabilities */

.capabilities{
    padding-top: 120px;
}

.cap__inner{
    display: flex;
    justify-content: space-between;
}
.cap__text{
    max-width: 390px;
    height: 40px;

    color: var(--main-text);
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.2px;

    margin-right: 30px;
}

.cap__right{
    display: flex;
}


.button {
    font-family: 'Open Sans', sans-serif;

    min-width: 150px;
    height: 40px;

    background-color: var(--main-click);
    border: none;

    color: var(--dif-color);
    text-transform: uppercase;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;

    /* нужно для оптимизации */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* обязательные поля для button */

/* Наведение на кнопку */
.button:hover {
    /* background-color: var(--sec-click);
    transition: background-color .2s linear; */
    cursor: pointer;
}

/* Фокусировка на кнопке */
.button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #cbd6ee;
  }

/* Нажатие на кнопку */
.button:active { /* Добавляем псевдокласс :active */
    background-color: var(--sec-click);
    box-shadow: 0 2px --main-text;
    transform: translateY(4px);     /* Движение кнопки вниз */
}

/* Info */

.info {
    padding-top: 75px;
    margin-bottom: 115px;
}
.info__inner {
    display: flex;
    justify-content: space-between;
}
.info__card {
    width: 295px;
    height: 330px;

    border: 1px solid #E6E6E6;
    background: #FFF;
}

.card__inner{
    padding: 38px 23px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info__img {
    margin-bottom: 25px;

    width: 65.625px;
    height: 75px;
}
.info__title {
    margin-bottom: 13px;

    color: var(--main-text);
    font-size: 16px;
    font-weight: 700;

    min-width: 250px;
    min-height: 48px;

    line-height: 24px; /* 150% */
    letter-spacing: 0.427px;
}
.info__text {
    color: var(--main-text);
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;

    min-width: 250px;
    min-height: 92px;

    line-height: 23px; /* 176.923% */
    letter-spacing: 0.188px;
}

/* Get in touch */

.getintouch {
    background-image: url(../source/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.get__inner{
    padding: 120px 0 227px 0;
}


.get__title {
    width: 350px;
    height: 72px;

    color: var(--main-text);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;


    margin: 0 auto;
    margin-bottom: 40px;
}

.get__link{
    text-align: center;
}

.get__formbutton {
    display: block;
    margin: 0 auto;

    padding: 11px 26px;
    background-color: var(--main-click);
    border: none;

    color: var(--dif-color);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;

    cursor: pointer;

    transition: background-color .3s ease-in-out;
}

.get__formbutton:hover {
    background-color: var(--sec-click);
}

/* News */

.news{
    background-color: #171819;;
}
.input__inner {
    display: flex;
    justify-content: center;

    align-items: center;

    padding: 30px 0;
}
.news__title {
    color: var(--dif-color);
    text-align: center;

    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.846px;

    margin-right: 70px;
}

/* input form */
.input__group {
    display: flex;
    align-items: center;
}

.input {
    min-height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 75px;

    color: var(--main-text);
    font-size: 15px;

    border: 1px solid var(--main-click);
}

.button__submit {
    min-height: 40px;
    width: 150px;

    padding: 11px 49px;

    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;

    border: none;
    background-color: var(--main-click);
    transition: background-color .3s ease-in-out;
  }
  
  .button__submit:hover {
    background-color: var(--sec-click);
  }
  
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }

/* Нажатие на кнопку */
.button__submit:active { /* Добавляем псевдокласс :active */
    background-color: var(--sec-click);
    box-shadow: 0 2px --main-text;
    transform: translateY(0.5px);     /* Движение кнопки вниз */
}