@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700;800&display=swap');

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::after, *::before{
    box-sizing: inherit;
}

/* Переменные */
:root {
    --main-text: #48555B;
    --main-click: #00A4E5;
    --sec-click: #00668e;
    --dif-color: #ffff;
  }

h1, h2, h3, h4, h5, h6,p {
    margin: 0px;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}

/* Screensaver */

.screensaver{
    max-width: 1440px;
    background-image: url(../source/bgscreen.png);
    background-repeat: no-repeat;
    background-position: center;

    height: 100%;

    margin: 0 auto;

}

.screensaver__logo {
    display: flex;
    padding-top: 40px;
    margin-bottom: 300px;

    z-index: 1;
}
.logo__item {
    display: block;
    width: 101.62px;
    height: 23px;
    margin: 0 auto;
}

.screensaver__title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 5.7px;

    text-align: center;
    color: var(--dif-color);
    text-transform: uppercase;

    margin-bottom: 1px;
}
.screensaver__text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--dif-color);

    margin: 0 auto 223px;

}
.screensaver__link {
    text-decoration: none;
    text-transform: uppercase;

}
.screensaver__link-text {
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 3.7px;
    color: var(--dif-color);
    padding-bottom: 72px;
}


/* Header */

header {
    display: inline-block;
    width: 100%;
    position: relative;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 0;
}

.header__logo img{
    position: absolute;
    top: 20px;
    left: 50px;
    height: 18px;
    width: 79px;
}

.toggle-btn i{
    font-size: 22px;
    color: #000;
    position: absolute;
    right: 50px;
    top: 19px;
    display: none;
}

.navbar {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}


.navbar__item{
    padding-right: 27px;
    display: inline-block;
}

.navbar__item:last-child{
    padding-right: 0;
}

.navbar__item:hover {
    transform: scale(1.1);
}

.navbar__item-link {
    color: var(--main-text);

    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.7px;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar__item-link:hover {
    color: var(--main-click);

}

/* Our story */

/* repeating elements */
h1 {  
    color: var(--main-text);
    text-transform: uppercase;

    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 2.306px;
}

.stroke {
    width: 50px;
    height: 2px;
    background-color: var(--main-click);
   
}

.story h1{
    text-align: center;
    padding-top: 52px;
    letter-spacing: 2.306px;
}
.story .stroke{
    margin: 0 auto;
    margin-bottom: 70px;
}

.story__inner {
    display: flex;
    justify-content: center;
}

.story__left {
    max-width: 398px;
    margin-right: 77px;
}

.story__title {
    color: var(--main-text);
    font-size: 20px;
    font-weight: 700;
    
    max-width: 400px;
    height: 81px;

    margin-bottom: 40px;
}

.story__title span {
    color: var(--main-click);

}
.story__text {
    color: var(--main-text);
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;

    max-width: 400px;
    height: 115px;

    /* padding-top: 30px; */
}

.story__right{
    display: flex;
    align-items: flex-end;
}

.story__item{
    font-size: 24px;
    text-transform: uppercase;
    color: var(--dif-color);
    font-weight: 800;

    width: 140px;
    height: 224px;

    padding: 15px;
    margin-right: 20px;
}

.story__item:nth-child(1){
    background-image: url(../source/weplan.png);
}

.story__item:nth-child(2){
    background-image: url(../source/wemanage.png);
}

.story__item:nth-child(3){
    background-image: url(../source/webuild.png);
    margin-right: 0;
}

/* Our Capabilities */

.capabilities{
    padding-top: 120px;
}

.cap__inner{
    display: flex;
    justify-content: space-between;
}
.cap__text{
    max-width: 390px;
    height: 40px;

    color: var(--main-text);
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.2px;

    margin-right: 30px;
}

.cap__right{
    display: flex;
}


.button {
    font-family: 'Open Sans', sans-serif;

    min-width: 150px;
    height: 40px;

    background-color: var(--main-click);
    border: none;

    color: var(--dif-color);
    text-transform: uppercase;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;

    /* нужно для оптимизации */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* обязательные поля для button */

/* Наведение на кнопку */
.button:hover {
    /* background-color: var(--sec-click);
    transition: background-color .2s linear; */
    cursor: pointer;
}

/* Фокусировка на кнопке */
.button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #cbd6ee;
  }

/* Нажатие на кнопку */
.button:active { /* Добавляем псевдокласс :active */
    background-color: var(--sec-click);
    box-shadow: 0 2px --main-text;
    transform: translateY(4px);     /* Движение кнопки вниз */
}

/* Info */

.info {
    padding-top: 75px;
    margin-bottom: 115px;
}
.info__inner {
    display: flex;
    justify-content: space-between;
}
.info__card {
    width: 295px;
    height: 330px;

    border: 1px solid #E6E6E6;
    background: #FFF;
}

.card__inner{
    padding: 38px 23px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info__img {
    margin-bottom: 25px;

    width: 65.625px;
    height: 75px;
}
.info__title {
    margin-bottom: 13px;

    color: var(--main-text);
    font-size: 16px;
    font-weight: 700;

    min-width: 250px;
    min-height: 48px;

    line-height: 24px; /* 150% */
    letter-spacing: 0.427px;
}
.info__text {
    color: var(--main-text);
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;

    min-width: 250px;
    min-height: 92px;

    line-height: 23px; /* 176.923% */
    letter-spacing: 0.188px;
}

/* Get in touch */

.getintouch {
    background-image: url(../source/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.get__inner{
    padding: 120px 0 227px 0;
}


.get__title {
    width: 350px;
    height: 72px;

    color: var(--main-text);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;


    margin: 0 auto;
    margin-bottom: 40px;
}

.get__link{
    text-align: center;
}

.get__formbutton {
    display: block;
    margin: 0 auto;

    padding: 11px 26px;
    background-color: var(--main-click);
    border: none;

    color: var(--dif-color);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;

    cursor: pointer;

    transition: background-color .3s ease-in-out;
}

.get__formbutton:hover {
    background-color: var(--sec-click);
}

/* News */

.news{
    background-color: #171819;;
}
.input__inner {
    display: flex;
    justify-content: center;

    align-items: center;

    padding: 30px 0;
}
.news__title {
    color: var(--dif-color);
    text-align: center;

    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.846px;

    margin-right: 70px;
}

/* input form */
.input__group {
    display: flex;
    align-items: center;
}

.input {
    min-height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 75px;

    color: var(--main-text);
    font-size: 15px;

    border: 1px solid var(--main-click);
}

.button__submit {
    min-height: 40px;
    width: 150px;

    padding: 11px 49px;

    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;

    border: none;
    background-color: var(--main-click);
    transition: background-color .3s ease-in-out;
  }
  
  .button__submit:hover {
    background-color: var(--sec-click);
  }
  
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }

/* Нажатие на кнопку */
.button__submit:active { /* Добавляем псевдокласс :active */
    background-color: var(--sec-click);
    box-shadow: 0 2px --main-text;
    transform: translateY(0.5px);     /* Движение кнопки вниз */
}

/* Footer */

.footer {
    background-color: #141A20;;
    color: var(--dif-color);
}
.footer__inner {
    padding: 41px 0;
    display: flex;
    justify-content: space-between;
}

.footer__title {
    color: var(--main-text);
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.846px;

    text-transform: uppercase;

    margin-bottom: 19px;
}

.footer__logo-box {
    margin-bottom: 15px;

}
.footer__logo{
    width: 101.618px;
    height: 23px;
}
.company__text {
    color: var(--main-text);
    font-size: 11px;
    font-weight: 300;
    line-height: 23px;

    width: 250px;
    height: 76px;

    line-height: 19px;
    letter-spacing: 0.85px;
}

.links {
    width: 262px;
    height: 150px;
}

.links .footer__title {
    margin-bottom: 0px;
}

.footer__list-box {
    display: flex;
    justify-content: space-between;
}
.footer__list {
    list-style: none;
    padding: 0;

    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 227.273% */
    letter-spacing: 0.846px;

    text-transform: uppercase;
}

.contacts__text-box {
    width: 141px;
    height: 128px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 145.455% */
    letter-spacing: 0.846px;
}

.contacts .footer__title {
    margin-bottom: 12px;
}

.contacts__links {
    text-decoration: none;
    color: var(--dif-color);
}

.social__media{
    padding: 20px;
}

.media__link{
    margin-right: 25px;
}

i {
    font-size: 14px;
    color: var(--dif-color);

}

.media__link:last-child{
    margin-right: 0;
}

/* Медиа Запросы */

@media screen and (max-width:1440px) {
    .container {
        padding: 0 50px;
    }
}

@media screen and (max-width:1025px) {
    .container {
        padding: 0 20px;
    }

    .toggle-btn i{
        display: block;
    }

    nav {
        display: none;
    }

    nav.show{
        width: 100%;
        border-top: 2px solid var(--main-click);
        padding-top: 20px;
        margin-top: 30px;
        display: block;
    }

    .navbar{
        justify-content: center;
    }
    .story__inner{
        justify-content: center;
        /* позволяет переносить объекту на другую строку */
        flex-wrap: wrap; 
    }

    .cap__inner{
        justify-content: space-evenly;
    }
}

@media screen and (max-width:980px) {

    .story h1{
        padding-top: 30px;
    }

    .story__left{

        margin-right: 15px;
    }

}

@media screen and (max-width:905px) {
    .story__right{
        margin-top: 15px;
    }

    .info__inner{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .cap__inner{
        padding: 0 25px;
        justify-content: space-evenly;
    }

    .cap__right{
        align-items: center;
    }

    .info__card:last-child{
        margin-top: 20px;
    }

    .get__inner{
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .footer__inner{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:650px){

    .screensaver__logo{
        padding-top: 20px;
    }
    
    .screensaver__text{
        margin-bottom: 210px;
    }
    .screensaver__link-text{
        padding-bottom: 20px;
    }

    .cap__text{
        display: flex;
        max-width: 300px;
        text-align: justify;
        align-items: center;
    }

    .info{
        margin-bottom: 30px;
    }

}

@media screen and (max-width:598px){

    .capabilities{
        padding-top: 50px;
    }
    .cap__inner{
        flex-wrap: wrap;
    }

    .cap__left{
        margin-bottom: 30px;
    }

    .info__card:nth-child(2){
        margin-top: 20px;
    }

    .input__inner{
        flex-wrap: wrap;
    }

    .news__title{
        margin-right: 0;
        padding: 0 15px;
    }

    .input__group{
        margin-top: 10px;
    }

}
@media screen and (max-width:500px) {
    .story__right{
        /* позволяет переносить объекту на другую строку */
        flex-wrap: wrap; 
    }

    .story__item{
        margin-bottom: 25px;
    }
    .story__item:nth-child(3){
        margin-bottom: 0;
    }
}

@media screen and (max-width: 420px) {
    .screensaver__logo{
        margin-bottom: 200px;
    }

    .screensaver__title{
        margin-bottom: 25px;
    }

    .screensaver__text{
        max-width: 300px;
    }

    .cap__right{
        margin-top: 20px;
    }

    .input {
        padding-right: 30px;
    }
}

@media screen and (max-width: 390px){

    .screensaver__text{
        margin-bottom: 60px;
    }

    .screensaver__link-text{
        padding-bottom: 80px;
    }

    .navbar{
        flex-wrap: wrap;
    }

    .story__right{
        margin-top: 40px;
    }

    .cap__right{
        margin-top: 40px;
    }

    .input__group{
        margin-top: 20px;
    }

    .input {
        padding-right: 10px;
    }

    .footer__inner{
        flex-direction: column;
    }

    .footer .links{
        margin-top: 10px;
    }

    .footer .contacts{
        margin-top: 10px;
    }

    .footer .social__media{
        padding-left: 0;
    }
}